.home2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home2-header {
  width: var(--dl-size-size-maxwidth);
  height: 109px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(83, 152, 222, 0.7);
  border-style: solid;
  border-width: 0px;
  padding-left: 150px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(83, 165, 255, 0.7);
}
.home2-image {
  width: 338px;
  height: 81px;
  object-fit: cover;
}
.home2-button {
  display: flex;
  flex-direction: row;
}
.home2-product-overview {
  width: 100%;
  height: 400px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 500px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home2-container1 {
  display: flex;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home2-text {
  height: 61px;
  font-size: 3rem;
  max-width: 500x;
}
.home2-text01 {
  font-size: 20px;
}
.home2-text05 {
  margin-top: var(--dl-space-space-halfunit);
  line-height: 2;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home2-image1 {
  width: 429px;
  height: 385px;
  object-fit: cover;
}
.home2-product-details {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(166, 137, 96, 0.22);
}
.home2-text20 {
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 820px;
}
.home2-text21 {
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.home2-text22 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 600;
}
.home2-text27 {
  font-style: normal;
  font-weight: 600;
}
.home2-text38 {
  font-style: normal;
  font-weight: 600;
}
.home2-digital-nameplate {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.39);
}
.home2-text50 {
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 820px;
  padding-bottom: 30px;
}
.home2-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home2-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home2-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home2-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home2-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home2-image2 {
  flex: 1;
  width: 100px;
  object-fit: cover;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-right: 0px;
}
.home2-image3 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  padding-right: 0px;
}
.home2-image4 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  padding-right: 0px;
}
.home2-image5 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  padding-right: 0px;
}
.home2-image6 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.home2-image7 {
  width: 100px;
  object-fit: cover;
}
.home2-documents {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(166, 137, 96, 0.22);
}
.home2-text51 {
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 850px;
  padding-bottom: 30px;
}
.home2-link1 {
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 600px;
  text-decoration: none;
}
.home2-link2 {
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 600px;
  text-decoration: none;
}
.home2-link3 {
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: 600px;
  text-decoration: none;
}
.home2-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home2-image8 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home2-product-overview {
    flex-direction: column;
  }
  .home2-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home2-text {
    text-align: center;
  }
  .home2-text01 {
    text-align: center;
  }
  .home2-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home2-text21 {
    max-width: 100%;
  }
  .home2-link1 {
    max-width: 100%;
  }
  .home2-link2 {
    max-width: 100%;
  }
  .home2-link3 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .home2-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-product-overview {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-text05 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home2-product-details {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-text21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home2-digital-nameplate {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-documents {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-link1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home2-link2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home2-link3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home2-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home2-text52 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home2-header {
    padding: var(--dl-space-space-unit);
  }
  .home2-product-overview {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home2-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home2-product-details {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home2-digital-nameplate {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home2-documents {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home2-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home2-text52 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
