.feature-feature {
  gap: var(--dl-space-space-unit);
  width: 380px;
  height: 111px;
  display: flex;
  position: relative;
  max-width: 300px;
  align-items: flex-start;
  padding-right: 11px;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-heading {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.feature-image {
  width: 278px;
  height: 71px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .feature-feature {
    max-width: 100%;
  }
}
